.ThemeNodes {

    .flex {
        flex-wrap:wrap;
        justify-content: space-evenly;
    }

    .node {
        display: flex;
        flex-flow:column;
        align-items:center;
        justify-content: center;
    }
}

.NodeSetup {
    .clients {
        display:flex;
        flex-flow: column;
        align-items:center;
    }
}