.SignIn {
    .Form {
        display:flex;
        flex-direction:column;
        .Pane {
            .content {
                padding:0;
            }
            .Field {
                width:100%;
            }
        }
    }
}