.DeathPop {
    display:flex;
    flex-direction:column;
    
    .Field {
        text-align:left;
    }

    &[data-state="lock"] {
        .Button {
            pointer-events:none;
            opacity:50%;
        }
    }
}