.Rates {

    .grid {
        
        grid-template-columns: auto 1fr auto;
        align-items:center;


        .Caption {
            justify-self: end;
        }

        .Range {
            width:100%;
            .wrap .interface .track {
                width:100%;
            }
        }
    }
    
}