.Node {
    min-height:100%;
    display:grid;
    grid-template-rows: auto auto auto 1fr;
    align-items:center;
    font-size: 1.2em;

    .nodeInfo {
        text-align: center;
    }

    .nodeStats, .nodeMw, .nodeControl {
        display:flex;
        justify-content:space-evenly;
    }

}

