.Briefing {

    display:grid;
    grid-template-rows: auto 1fr;

    .flex {
        flex-wrap:wrap;
        justify-content:space-evenly;
        align-items:center;
        gap: 2vh 2vw;

        .Button {
            font-size:1.8em;
            padding:2vh 4vw;

            &[data-flags="lock"] {
                opacity: .1 !important;
            }
        }

    }


}