.Hull {
    position:relative;
    overflow:hidden;

    & > * {
        height:100%;
        width:100%;
        overflow:hidden;

        transition: .5s;
        transform:translate(0, -100%);

        & > * {
            padding:1vh 3vw 5vh;
            min-height:100%;
            overflow:auto;
            margin:auto;
        }
    }


    & > .page-enter-active, & > .page-appear-active, & > .page-enter-done {
        transform:translate(0, 0);
    }

    & > .page-exit-active {
        position:absolute;
        top:0;
        transform:translate(0, 100%);
        z-index:-1;
    }
    
}