@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Tektur:wght@400;500;600;700;800;900&display=swap');

body,
input,
textarea,
select,
button {
    font-family: 'Tektur', sans-serif;
    font-size:1rem;
    color: #CCC;
}

svg {
    fill:#CCC;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body,
input {
    padding: 0;
}

h1 {
    text-align:center;
    font-size:3rem;
    color:#CFAA01;
    text-shadow: 
        0px 0px 10px rgba(0,0,0,.6), 
        0px 0px 20px #CFAA01;
}

h2 {
    text-align:center;
}

html {
    background-color:#111;
}
html, body, #root, .App {
    height:100%;
}

.App {
    display:grid;
    grid-template-rows: auto 1fr;
    overflow:hidden;

    .grid {
        display:grid;
        gap:2vh 1vw;
    }

    .flex {
        display:flex;
        gap:2vh 1vw;
    }

    .wall {
        background-color: #fff;
        box-shadow:
          0 .03em rgba(102,102,102,.25),
          0 1em 1em rgba(255,255,255,.25);
    }

    .wallGray {
        background-color: #efefef;
        box-shadow:
          0 .03em rgba(102,102,102,.25),
          0 1em 1em rgba(255,255,255,.25);
    }

    .heading {
        display:grid;
        grid-template-columns: 1fr auto 1fr;
        align-items:center;
    }

    a {
        text-decoration: none;
        color:#CFAA01;
        font-weight:bold;
        transition: color 1s;
        cursor:pointer;

        &:hover {
            color:#CCC;
            transition: color .2s;
        }
    }

    .block {
        width: 100vh;
        min-width: 70vw;
        max-width: 100%;
    }

}



