.StatBar {

    display:flex;
    flex-direction: column;
    align-items: center;
    margin:1em;
        
    .Bar {
        width: 11vh !important;
        height: 15vh !important;

        .mark {
            background-color: #111;
        }

        .unmark {

            filter: none;
        }

    }

    &.energy .unmark { background:aqua !important; }
    &.battery .unmark { background: #CFAA01 !important; }
    &.smog .unmark { background:lime !important; }
    &.oxygen .unmark { background:white !important; }
    &.heat .unmark { background:red !important; }
    &.direction .unmark { background:navy!important; }
    &.distance .unmark { background: green !important; }


}